<!DOCTYPE html>


<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Tables</title>

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">


<!-- Page Wrapper -->
<div id="wrapper">






    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">پنل اعلانات</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->


        <!-- Nav Item - Tables -->
        <li class="nav-item active">
            <a class="nav-link" href="/notifications/get">
                <i class="fas fa-fw fa-table"></i>
                <span>لیست پیام ها</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>خروج</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>


                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">


                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->

                    <li class="nav-item dropdown no-arrow">

                        <img src="/vendor/avatar.png" width="30" alt="">

                    </li>
                    <li class="nav-item dropdown no-arrow">

                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <span class="mr-2 d-none d-lg-inline text-gray-600 small" , th:text="${nameUser}"></span>

                        </a>

                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div th:if="${message}">
                    <div class="alert alert-info">
                        <span class="alert" , th:text="${message}"></span>
                    </div>
                </div>

                <div th:if="${message}">
                    <div class="alert alert-info">
                        <span class="alert" , th:text="${message}"></span>
                    </div>
                </div>


                <div class="card shadow mb-4">

                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">ارسال پیام</h6>

                    </div>
                    <div class="card-body">
                        <form class="user" method="post"
                              enctype="multipart/form-data"
                              role="form"
                              th:action="@{/notifications/send-email}">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"
                                       id="subject"
                                       name="subject" aria-describedby="emailHelp"
                                       placeholder="موضوع">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"
                                       id="message"
                                       name="msgBody" aria-describedby="emailHelp"
                                       placeholder="پیام">
                            </div>

                            <div class="form-group">
                                <label>
                                    فایل پیوست
                                    <input type="file" class="form-control form-control-user"
                                           name="file" aria-describedby="attachment"
                                          >
                                </label>
                            </div>

                            <div class="form-group">
                                <select name="type" class="form-control" th:name="grade" multiple>

                                <!--    <option value="DOCTORAL_STUDENT">دانشجوی دکتری</option>
                                    <option value="GRADUATE"> دانشجوی کارشناسی ارشد</option>
                                    <option value="UNDER_GRADUATE">دانشجوی کارشناسی</option>
                                    <option value="ALUMNUS">دانشجوی فارغ التحصیل</option>
                                    <option value="OTHER">غیر</option>
                                    <option value="FACULTY_MEMBER">عضو هیئت علمی</option>
                                    <option value="ALL">همه</option> -->

                                         <option value="DOCTORAL_STUDENT">دانشجوی دکتری</option>
                                         <option value="GRADUATE"> دانشجوی کارشناسی ارشد</option>
                                         <option value="UNDER_GRADUATE">دانشجوی کارشناسی</option>
                                         <option value="ALUMNUS">دانشجوی فارغ التحصیل</option>
                                         <option value="OTHER">غیر</option>
                                         <option value="FACULTY_MEMBER">عضو هیئت علمی</option>
                                         <option value="ALL">همه</option>
                                     </select>
                                 </div>
                                 <button type="submit" class="btn btn-primary btn-user btn-block">
                                     ارسال
                                 </button>
                             </form>
                         </div>
                     </div>




                     <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">لیست دانشجو ها</h6>
                    </div>
                    <div class="card-body">

                        <!-- Nav tabs -->


                        <div class="row mb-5">
                            <div class="col-md-6 col-md-offset-3">
                                <select class="form-control" name="grades" id="grades">
                                    <option value="#menu1">دانشجوی کارشناسی</option>
                                    <option value="#menu2">دانشجوی کارشناسی ارشد</option>
                                    <option value="#menu3">دانشجوی دکتری</option>
                                    <option value="#menu4">عضو هیئت علمی</option>
                                    <option value="#menu5">دانشجوی فارغ التحصیل</option>
                                    <option value="#menu6">غیر</option>
                                </select>
                            </div>
                        </div>
                        <ul class="nav nav-tabs d-none" id="the-tab">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#menu1">دانشجوی کارشناسی</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu2">دانشجوی کارشناسی ارشد</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu3">دانشجوی دکتری</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu4">عضو هیئت علمی</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu5">فارغ التحصیل</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#menu6">غیر</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane container active" id="menu1">
                                <div class="table-responsive">
                                    <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>نام</th>
                                            <th>نام خانوادگی</th>
                                            <th>ایمیل</th>
                                            <th>مقطع</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <!-- loop k be tedad e lisst e karbara becharkhe -->

                                        <!-- MOTEGHAYERI K AZ BACK MIAD BEJA users-->
                                        <tr th:each="user: ${usersUndergraduate}">
                                            <td th:text="${user.firstName}"></td>
                                            <td th:text="${user.lastName}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td th:text="${user.grade}"></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane container fade" id="menu2"> <div class="table-responsive">
                                <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>ایمیل</th>
                                        <th>مقطع</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- loop k be tedad e lisst e karbara becharkhe -->

                                    <tr th:each="user: ${usersGraduate}">
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.grade}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div></div>
                            <div class="tab-pane container fade" id="menu3"> <div class="table-responsive">
                                <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>ایمیل</th>
                                        <th>مقطع</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- loop k be tedad e lisst e karbara becharkhe -->

                                    <tr th:each="user: ${userDoctoralStudent}">
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.grade}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div></div>
                            <div class="tab-pane container fade" id="menu4"> <div class="table-responsive">
                                <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>ایمیل</th>
                                        <th>مقطع</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- loop k be tedad e lisst e karbara becharkhe -->

                                    <tr th:each="user : ${usersFacultyMember}">
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.grade}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div></div>
                            <div class="tab-pane container fade" id="menu5"> <div class="table-responsive">
                                <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>ایمیل</th>
                                        <th>مقطع</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- loop k be tedad e lisst e karbara becharkhe -->

                                    <tr th:each="user : ${usersAlumnus}">
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.grade}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div></div>
                            <div class="tab-pane container fade" id="menu6"> <div class="table-responsive">
                                <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>نام</th>
                                        <th>نام خانوادگی</th>
                                        <th>ایمیل</th>
                                        <th>مقطع</th>


                                    </tr>
                                    </thead>


                                  <!--  <tbody> -->


                                    <!-- loop k be tedad e lisst e karbara becharkhe -->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- loop k be tedad e lisst e karbara becharkhe -->

                                    <tr th:each="user : ${usersOther}">
                                        <td th:text="${user.firstName}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td th:text="${user.grade}"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div></div>

                                    </tbody>
                                </table>
                            </div></div>

                        </div>




                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>سامانه ی اطلاع رسانی دانشکده مهندسی کامپیوتر شهید بهشتی</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>